@model SearchViewModel
<div class="panel panel-info aggregation-container">
	<div class="panel-heading">
		<h3 class="panel-title">Authors</h3>
	</div>

	<div class="panel-heading"></div>

	<div class="panel-body list-group">
		@{
			var selectedAuthors = Model.Form.Authors ?? Array.Empty<string>();
		}
		@foreach (var author in Model.Authors)
		{

			var isSelected = Model.Form.Authors?.Contains(author.Key) ?? false;
			var currentAuthor = new[] { author.Key };
			var newAuthorArray = selectedAuthors.Concat(currentAuthor).ToArray();

			var url = Model.UrlForFirstPage(f => { f.Authors = isSelected ? selectedAuthors.Except(currentAuthor).ToArray() : newAuthorArray; });
			<a href="@url" class="list-group-item @(isSelected ? "list-group-item-warning" : "")">
				@if (isSelected)
				{
					<span class="glyphicon glyphicon-remove pull-right"></span>
				}
				else
				{
					<span class="label label-lg label-warning pull-right">@author.Value</span>
				}
				@author.Key
			</a>
		}
	</div>
</div>