@model SearchViewModel
@await Html.PartialAsync("ControlHits", Model)
<h2>
	<span class="text-success">Found <span class="label label-success">@Model.Total</span> packages</span>
	@if (!string.IsNullOrEmpty(Model.Form.Query))
	{
		<span class="text-primary">
			searching for
			<span class="label label-primary">"@Model.Form.Query" <a class="glyphicon glyphicon-remove" href="@Model.UrlForFirstPage(f=> { f.Query = null; })"></a></span>
		</span>
	}
	@if (Model.Form.Authors != null && Model.Form.Authors.Length > 0)
	{
		<span class="text-warning">
			having the <span class="label label-info">Authors</span> 
			@foreach (var a in Model.Form.Authors)
			{
				<a class="label label-warning" href="@Model.UrlForFirstPage(f => { f.Authors = Model.Form.Authors.Except(new[]{a}).ToArray(); })">@a <span class="glyphicon glyphicon-remove"></span></a>
			}
		</span>
	}
</h2>
